h1 {
  text-align: center;
}

#cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(360px, 1fr));
  gap: 1rem;
}

#cards > section {
  padding: 2rem;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#cards h2, #cards p {
  margin: 0.3rem auto;
}

#cards img {
  margin-top: 15px;
  box-shadow: 0 0 15px #333
}

