@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Berkshire Swash", "Brush Script MT", serif;
}

main, header, nav, footer {
  max-width: 760px;
  margin: 1rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #145A8C;
  color: white;
  margin-bottom: 30px;
  margin-top: 0;
}

header h1 {
  display: none;
}

#logo {
  width: 50%;
  height: auto;
  margin-left: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 1rem;
}

#menu-icon {
  cursor: pointer;
}

nav a.menu-item {
  display: none;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

nav a.menu-item:hover {
  color: yellow;
}

nav a.menu-item.open {
  display: inline-block;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}

#hero-img {
  width: 100%;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
  color: #FFFFFF;
}

.button-box {
  text-align: center;
}

.join {
  background-color: #145A8C; 
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join:hover {
  background-color: #E63946; 
  color: #F1FAEE;
}

#mission {
  margin-bottom: 2rem;
}

section.feature {
  text-align: left;
  background-color: #F1FAEE;
  padding: 1rem;
  margin-bottom: 2rem;
}

section.feature h3 {
  color: #333;
  text-align: right;
  margin-bottom: 3px;
}

section.card {
  max-width: 300px;
  padding: 1rem;
  background-color: #dfeef9;
  margin: 1rem auto;
}


footer {
  text-align: center;
  background-color: #145A8C;
  color: white;
  padding: 10px;
  margin-top: 30px;
}

footer hr {
  width: 100%;
}

p em {
  font-size: 1.2rem;
  font-weight: 800;
}

.active {
  border: 1px solid white;
}

.text-center {
  text-align: center;
}

.color-red {
  color: red;
}

.color-black {
  color: #333;
}

.color-blue {
  color: #025590;
}

h2 {
  border-bottom: 1px solid #444;
  width: 200px;
  width: fit-content;
  margin: 1rem auto;
  padding: 5px 10px;
}

#discover #sidebar {
  width: 100%;
  color: #F1FAEE;
  background-color: #145A8C;
  margin-bottom: 1rem;
  border-radius: 8px;
}

#discover #sidebar h2 {
  border-bottom: 2px solid #ffffff;
}

#discover #sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stat-item {
  display: grid;
  grid-template-columns: 26px auto 48px;
  padding: 1rem;
  font-size: 14px;
  align-items: center;
}

.stat-item img {
  width: 18px;
}

.stat-value {
  font-size: 24px;
  font-family: "Berkshire Swash", "Brush Script MT", serif;
}

#featured-images {
  width: 100%;
}

.image-card {
  margin-bottom: 2rem;
  box-shadow: 0 0 20px #BBB;
  border-radius: 8px;
  overflow: hidden;
}


.image-card:last-child {
  margin-bottom: 1rem;
}

.image-card img {
  width: 100%;
  transition: transform .5s;
}

.image-card p {
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 1.5rem;
  margin: 0;
}


form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #333;
  font-size: .8rem;
}

form label.top input, form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form label.top textarea {
  height: 10rem;
  margin-bottom: 2rem;
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form input.submit-btn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: solid 6px red;
}

form label.top input:required:valid {
  border-left: solid 6px green;
}

#members {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(360px, 1fr));
  gap: 1rem;
}

#members h2 {
  border: none;
  margin-bottom: 0;
}

#members h3 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

#members p {
  text-align: center;
  font-size: 0.8rem;
}

#members > section {
  padding: 2rem;
  background-color: #dfeef9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#members > section div{
  padding: 1rem;
}

#members h2, #members p {
  margin: 0.3rem auto;
}

#members img {
  margin-top: 15px;
  box-shadow: 0 0 15px #333
}

#members.list {
  grid-template-columns: 1fr;
}

#members.list > section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 0.3rem;
}

#members.list img {
  width: 120px;
  height: 80px;
}

#members.list h2 {
  font-size: 1.2rem;
}


.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-header button {
  border: solid 2px #145A8C;
  margin: 5px;
  cursor: pointer;
}


.sub-header .active {
  background-color: #dfeef9;
  border: solid 2px #145A8C;
}
