@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

:root {
  --primary-color: #174E70;
  --form-max-width: 20rem;
  --header-font: "Berkshire Swash", "Brush Script MT", serif;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body.dark {
  background-color: #777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font)
}

main, header, nav, footer, #googleMap, #contactForm  {
  max-width: 760px;
  margin: 1rem auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

#menuIcon {
  cursor: pointer;
}

nav a.menuItem {
  display: none;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

nav a.menuItem:hover {
  color: yellow;
}

nav a.menuItem.open {
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

header img {
  width: 100px;
  height: auto;
  margin-right: 3rem;
  margin-left: 3rem;
  z-index: 1;
}

main {
  margin-top: 0;
  margin-bottom: 40px;
}

main.dark {
  background-color: #333;
  color:#FFF;
}

main.dark a {
  color:yellow;
}

main h2, main h3 {
  text-align: center;
  margin-bottom: 0;
}

#hero {
  position: relative;
}

#heroOverlay {
  position: absolute;
	top: 50px;
  right: 0px;
  color: #000;
  background: radial-gradient(#fff, #000);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1rem;
	box-shadow: 0 0 3rem #fff;
  opacity: 0.5;
}

#heroOverlay h3 {
  margin: 0;
}

#heroImg {
  width: 100%;
  height: auto;
}

hr {
  max-width: 500px;
  margin-bottom: 25px;
}

section.card {
  max-width: 500px;
  margin: 1rem auto;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px 5px grey;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow-x: hidden;
}

section.card h3 {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin-top: 0;
}

section.card ul {
  list-style-type: none;
}

section.card p{
  padding-left: 15px;
}

#googleMap {
  display: flex;
  justify-content: center;
  overflow: auto;
}

#contactForm h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .75rem;
}

form {
  max-width: var(--form-max-width);
  margin: .75rem auto;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: var(--form-max-width);
  background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: .75rem 0 2rem 2%;
  width: 96%;
  max-width: var(--form-max-width);
}

form label.top input:required:invalid {
  border-left: solid 6px red;
}

form label.top input:required:valid {
  border-left: solid 6px green;
}

table {
  display: none;
  width: 100%;
  max-width: var(--form-max-width);
	margin: 10px auto;
	border: thin solid #aaaaaa;
	box-shadow: 0 0 7px #333333;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: #333333;
	font-size: .85rem;
}

th, td {
	padding: 7px 15px;
	border: 1px solid #aaaaaa;
  border-right: none;
  border-left: none;
}

thead th{
  color: #ffffff;
  background-color: #000000;
  padding: 1.5rem;
  border: none;
}

thead tr:first-child th{
  color: #000;
  background-color: inherit;
  font-size: 2rem;
}

tbody th {
  background-color: #333;
  color: white;
  text-align: right;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin-top: 30px;
}

footer p a {
  color: yellow;
}